<% if (message.error) { %>
    <div class="alert alert-danger"> <%= message.error %> </div>
<% } else if(message.success) { %>
    <div class="alert alert-success"> <%= message.success %> </div>
<% } %>
