<%- include('../../partials/header.ejs') %>

<nav class="nav navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        Guiapress
    </a>
</nav>

<% if (error.length > 0) { %>
    <div class="alert alert-danger"> <%= error %> </div>
<% } else if(success.length > 0) { %>
    <div class="alert alert-success"> <%= success %> </div>
<% } %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Redefinição de senha</h2>
        </div>
        <div class="card-body">
            <form action="/reset" method="POST">
                <input class="form-control" name="email" type="email" id="email" placeholder="email@example.com"><br>
                <button style="width: 100%; margin-bottom: 10px;" type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
    
 