<%- include('../../partials/header.ejs') %>

<nav class="nav navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        Guiapress
    </a>
</nav>


<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Nova Senha</h2>
        </div>
        <div class="card-body">
            <form action="/authpassword" method="POST">
                <input type="hidden" value="<%= user.email %>" name="email">
                <input class="form-control" name="password" type="password" id="password" placeholder="*********"><br>
                <button style="width: 100%;" type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
    
 