<%- include('../../partials/header.ejs') %>

<nav class="nav navbar-expand-lg navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        Guiapress
    </a>
</nav>

<%- include('../../partials/flash_message.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Reenviar email de confirmação</h2>
        </div>
        <div class="card-body">
            <form action="/refresh-token" method="POST">
                <input class="form-control" name="email" type="email" id="email" placeholder="email@exemple.com"><br>
                <button style="width: 100%;" type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
    
 